:root {
  --hover-color: #2196f3;
  --white-color: #ffffff;
  --main-background: #e5e5e5;
  --background-color-dark: #2f303a;
  --main-color: #212121;
  --grey-color: #757575;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  background: #ffffff;
  color: var(--main-color);
}

.pages-header {
  background: var(--white-color);
}

.nav-site .item a {
  display: block;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.pages-header .nav-contacts a {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
  text-decoration: none;
}

.nav-contacts a:hover,
a:focus {
  color: var(--hover-color);
}

.pages-footer {
  background: #2f303a;
}

.cards figure {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  background: var(--white-color);
}

.company-address li a {
  color: var(--white-color);
  line-height: 1.4;
}

.company-logo {
  color: var(--main-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.pages-footer .footer-logo {
  color: var(--white-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.blue-logo {
  color: var(--hover-color);
}

.pages-header a,
.pages-header a:active,
.company-address a,
.company-address a:active,
.pages-footer a,
.pages-footer a:active {
  color: var(--main-color);
  text-decoration: none;
}

.pages-header a:hover,
.pages-header a:focus,
.company-address a:hover,
.company-address a:focus,
.pages-footer a:hover,
.pages-footer a:focus,
.company-address .mail-address a:hover,
.company-address .mail-address a:focus,
.company-address .tel-address a:hover,
.company-address .tel-address a:focus {
  color: var(--hover-color);
}

.filter button {
  width: 128px;
  height: 38px;
  color: var(--main-color);
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  width: 128px;
  height: 38px;
  background: var(--hover-color);
  color: var(--white-color);
  border: 0;
  border-radius: 4px;
}

.pages-header li,
.filter li,
.company-address li,
.cards li {
  list-style-type: none;
}

.pages-header li a {
  font-size: 14px;
  font-weight: 500;
}

.cards h3 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.cards p {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.8;
}

.contact-address a {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
}

.contact-address a:hover,
a:focus {
  color: var(--hover-color);
}

.activities h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team h2 {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-cards figure h3 {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-cards figure p {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.19;
}

.location-address a {
  color: var(--white-color);
}

.company-address .mail-address a,
.company-address .tel-address a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5
}

.features-list {
  list-style: none;
}

.features-list h3 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list p {
  line-height: 1.5;
  color: var(--grey-color);
}

.main-header {
  background-color: var(--background-color-dark);
  text-align: center;
}

.main-header h1 {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-header button {
  color: var(--white-color);
  background: var(--hover-color);
  border: 0px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
